[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/IgorBSUIR
[access "refs/for/refs/*"]
	read = group user/IgorBSUIR
	push = group user/IgorBSUIR
	label-Code-Review = -2..+2 group user/IgorBSUIR
	label-Verified = -1..+1 group user/IgorBSUIR
	rebase = group user/IgorBSUIR
	removeReviewer = group user/IgorBSUIR
	submit = group user/IgorBSUIR
[access "refs/heads/*"]
	read = group user/IgorBSUIR
	create = group user/IgorBSUIR
	push = +force group user/IgorBSUIR
	pushMerge = group user/IgorBSUIR
[access "refs/tags/*"]
	push = +force group user/IgorBSUIR
	pushTag = group user/IgorBSUIR
	pushSignedTag = group user/IgorBSUIR
